.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #37474f !important;
}
.nav-link {
    color: #37474f !important;
}

.btn.btn-link.text-start.active{
    background: #37474f !important;
    color:#fff !important;
    text-decoration: none!important;
}
.btn.btn-link.text-start{
    text-decoration: none!important;
}