#banner h1{
    font-family: pickleweasel;
    text-align: left;
    text-transform: uppercase;
    line-height: unset;
    margin-bottom: 0px;
    color: #000;
    font-size: xx-large;
}
h2#banner{
    font-family: pickleweasel;
    text-align: left;
    text-transform: uppercase;
    line-height: unset;
    margin-bottom: 0px;
    color: #000;
    font-size: xx-large;
}